.list-view {
  display: flex;
  justify-content: space-between;
}

.list-left {
  width: 65%;
}

.list-right {
  width: 25%;
  #new_list {
    width: 80%;
    .btn {
      color: whitesmoke;
      background: brown;
      opacity: 0.8;
    }
  }
}
