<div class="my-footer-background"></div>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/quentin-peschard"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/quentin-peschard/"><i class="fab fa-linkedin"></i></a>
    <a href="https://quentin-peschard.github.io/my_profile/"><i class="fas fa-user-graduate"></i></a>
  </div>
</div>
