<div class="my-navbar-background"></div>
<div class="my-navbar">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbar-branding" do %>
      <%= image_tag "popcorn.png" %>
    <% end %>
  </div>
  <div class="navbar-right">
    <%= link_to "Home", root_path, class: "nav-link" %>
  </div>
</div>
